<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="3ca61a50-6139-4c8c-b695-eeda5f3aa250" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="3ca61a50-6139-4c8c-b695-eeda5f3aa250fileName">TestSuite-11</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
