<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="9f72e347-5450-4ac5-889d-e56c432593c5" name="First Branch" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="9f72e347-5450-4ac5-889d-e56c432593c5fileName">TestSuite-1</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>